*{
  box-sizing: border-box;
}
.App {
  margin: 40px;
}

 .linkContainer>a{
   margin: 1em;
  background-color: aquamarine;
  padding: 1em;
  border-radius: 20%;
} 


 input{
  margin: 2em;
} 

 .loginBtn{
  cursor: pointer;
  background-color: cadetblue;
  color: darkkhaki;
  margin-left: 100px;
  padding: 1em;

}  